*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #262c38;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(#ffda6b, #ff935c);
}
.face{
    height: 100%;
    width: 100%;
    animation: face 3s linear infinite;
}
.eyebrow{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;
    animation: eyebrow 3s linear infinite;
}
.eyebrow span{
    display: inline-block;
    margin: 0 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #b96a46;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: relative;
}
.eyebrow span::before, .eyebrow span::after{
    content: '';
    background: #b96a46;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
}
.eyebrow span::before{
    left: -2px;
    top: -2px;
}
.eyebrow span::after{
    right: -2px;
    top: -2px;
}
.eye{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
}
.eye span{
    display: inline-block;
    height: 40px;
    width: 30px;
    margin: 0 22px;
    border-radius: 50%;
    background: #262c38;
}
.mouth{
    width: 60px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(50% - 30px);
    background: linear-gradient(#481f00, #b96a46);
    animation: mouth 3s linear infinite;
}

@keyframes face {
    15%, 25% { transform: rotate(25deg) translateX(-35px);}
    45%, 65% { transform: rotate(-25deg) translateX(35px);}
    75%, 100% { transform: rotate(0deg) translateX(0px);}
}

@keyframes eyebrow {
    15%, 65% { top: 35px; }
    75%, 100%, 0% { top: 15px; }
}

@keyframes mouth {
10%, 30% {width: 34px; height: 34px; left: calc(50% - 17px);}
50%, 70% {width: 60px; height: 70px; left: calc(50% - 30px);}
75%, 100% {height: 80px;}
}